*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.two{
    height: 200px;
    background-color: white;
    float: left;
    border: 10px solid black;
}
.one{
    height: 400px;
    background-color: white;
    float: left;
    border: 10px solid black;
}